
#grad1 {
    
    background: -webkit-linear-gradient(left, white , #a5adb0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, #a5adb0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, #a5adb0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , #a5adb0); /* Standard syntax (must be last) */
}
 li {
     
     color:red;
     
 }
 
 .headers {
     
     color:white;
     font-family: 'Inconsolata', Monospace;
     font-size:28px;
     
     
 }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.headright {
    float: left;
    color:white;
    padding:25px;
}
 
 #navbar{
     
     background-color:black;
     display:block;
     Position:fixed;
     width:100%;
     margin:-10px 0px 0px -10px;
     height:80px;
 }
 
 #navleft{
     background-color:blue;
     padding:10px;
     margin:auto 0;
     position:relative;
     display:inline;
     margin:auto;
     
 }
 
 #navright{
     background-color:green;
     float:right;
     
 }
 
 a:hover{
     
     color:#B8B894;
     
     
 }
a {
    font-family:Raleway;
    text-decoration:none;
    color:white;
} 

 
